/* .input-conteiner {
} */

.num-input .input-conteiner input {
  color: white;
  padding: 0px;
  font-size: 30px;
  height: 50px;
  width: 33px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 5px;
  text-align: center;
  /* border-radius: 10px; */
}

.num-input .input-conteiner input:focus {
  outline: 3px solid transparent;
}

.num-input .input-conteiner input:hover {
  border: 0;
}