.time {
  height: 46rem;
  width: 26rem;
  /* margin: 0px 50px; */
  background-color: black;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.time-render p {
  font-size: 4em;
  font-family: 'Karla', sans-serif;
}

.title h2 {
  font-size: 30px;
}