#root {
  text-align: center;
  user-select: none;
  width: 100%;
  /* width: 100vw;
  height: 100vh; */
}

.App {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.container-time {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.time .invisible {
  display: none;
}

.container-header {
  /* background-color: black; */
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.button-setting {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media (max-width: 1320px) {
  .container-time {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    /* gap: 50px; */
    height: 166em;
    /* margin-top: 0px; */
    justify-content: space-around;

  }

  .App {
    height: 100%;
  }
}

@media (max-width: 1000px) {
  body {
    background-color: black;
    transition: background-color 1.5s ease-out;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .setting {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .body-setting .body-item {
    flex-direction: column;
  }


}

@media (max-width: 460px) {
  .body-setting {
    width: auto;

  }
}

@media (max-width: 460px) {

  @media (max-height: 870px) {

    .time {
      width: 100%;
      height: 41rem;
      /* transition: width 1.5s ease-out; */
    }

    .container-time {
      height: 10%;
    }

    .container-input {
      width: 100%;
    }

  }
}