#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.container-app {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-time {
  display: flex;
}
main .container-input {
  position: absolute;
  background-color: rgb(51, 51, 51);
  padding: 30px;
  width: 20rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 40px;
}